/* Секция-постоянные клиенты */
.section-clients {
  @media screen and (max-width: 1199px) {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.clients-title {
  @media screen and (max-width: 1199px) {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

.clients {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 1199px) {
    margin: -15px;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 50px;
  }
}

.clients-item {
  @media screen and (max-width: 767px) {
    width: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (max-width: 1199px) {
    margin: 15px;
    width: calc((100% - 3 * 45px) / 3);
  }
}

.clients-link {
  display: flex;
  height: 92px;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    width: 210px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }

  &:hover,
  &:focus {
    border: 1px solid $blue-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.clients-svg {
  fill: $svg-bg-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients-link:hover &,
  .clients-link:focus & {
    fill: $blue-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
