/* footer */
.footer {
  background-color: #2F303A;
}

.footer-container {
  @extend .container;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer a {
  text-decoration: none;
}

.footer .item-mail {
  margin-top: 10px;
}

.footer .item-phone {
  margin-top: 10px;
}

.address-footer p {
  color: var(--white-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.address-footer {
  margin-top: 20px;
}

.address-footer a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-footer a:hover,
.address-footer a:focus {
  color: var(--blue-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio-footer {
  color: var(--white-color);
}

.join {
  margin-left: 70px;
}

.footer b {
  display: block;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.social-footer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.svg-footer {
  fill: #FFFFFF
}

.subscribe {
  margin-left: auto;
}

.form-footer {
  display: flex;
}

.form-footer input {
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  color: #fff;
}

.form-footer input::placeholder {
  padding: 16px;
}

.subscribe-button {
  display: flex;
  color: var(--white-color);
  background-color: var(--blue-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  min-width: 200px;
  padding: 10px 32px;
  border: 0;
  border-radius: 4px;
  align-items: center;
  margin-left: 12px;
}

.svg-subscribe {
  fill: var(--white-color);
  margin-left: 10px;
}