.header {
  background-color: $white-color;
}

.header-container {
  @extend .container;
}

.header-logo {
  color: $black-color;
  font-family: $logo-font;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.web {
  color: $blue-color;
}