/* hero - main */
.hero {
  background-color: $footer-color;
  text-align: center;
  background-color: $bg-hero-color;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
}

.hero-container {
  @extend .container;
}

.hero-title {
  color: $white-color;

  @media screen and (max-width:1199px) {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }  

  @media screen and (min-width: 1200px) {
    color: $white-color;
    font-family: $main-font;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    }
}