/* hero - main */
.hero {
  background-color: $footer-color;
  text-align: center;
  background-color: $bg-hero-color;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  background-image: linear-gradient(
      to bottom,
        rgba(0, 15, 175, 0.5),
        rgba(255, 255, 43, 0.4)
      ),
    url(../../images/hero-image/hero-mobil.jpg);

  @media screen and (min-width: 320px) {
    background-image: linear-gradient(
       to bottom,
        rgba(0, 15, 175, 0.5),
        rgba(255, 255, 43, 0.4)
      ),
      url(../../images/hero-image/hero-mobile.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
         to bottom,
        rgba(0, 15, 175, 0.5),
        rgba(255, 255, 43, 0.4)
      ),
        url(../../images/hero-image/hero-mobile@2x.jpg);
    }
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 15, 175, 0.5),
        rgba(255, 255, 43, 0.4)
      ),
      url(../../images/hero-image/hero-tablet.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to bottom,
        rgba(0, 15, 175, 0.5),
        rgba(255, 255, 43, 0.4)
      ),
        url(../../images/hero-image/hero-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 15, 175, 0.5),
        rgba(255, 255, 43, 0.4)
      ),
      url(../../images/hero-image/hero-desktop.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to bottom,
        rgba(0, 15, 175, 0.5),
        rgba(255, 255, 43, 0.4)
      ),
        url(../../images/hero-image/hero-desktop@2x.jpg);
    }
  }
}

.hero-container {
  @extend .container;
  @media screen and (max-width: 767px) {
    padding: 118px 60px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 118px;
    padding-bottom: 118px;
  }

  @media screen and (min-width: 1200px) {
    padding: 200px;
  }
}

.hero-title {
  color: $white-color;

  @media screen and (max-width: 1199px) {
    padding-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }

  @media screen and (min-width: 1200px) {
    color: $white-color;
    font-family: $main-font;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
}
